body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.usuario {
  width: 200px;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  color: #333;
}
.search-input {
  width: 500px;
  min-width: 500px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  background-color: lightgray;
  border-radius: 4px;
  font-size: 16px;
}
.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.search-button:hover {
  background-color: #0056b3;
}
#contenedor {
  margin-top: 20px;
}

body.day-mode {
  background-color: white;
  color: black;
}

body.night-mode {
  background-color: #141414;
  color: #ffffff;
}

div .lblswitch {
  display: inline-block;
  width: 55px;
  height: 30px;
  background-color: black;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

div .lblswitch:after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-color: aliceblue;
  border-radius: 100px;
  transition: 0.4s;
  bottom: 0.3em;
  top: 0.3em;
  left: 0;
}

#switch {
  display: none;
}

#switch:checked ~ .lblswitch {
  background-color: aliceblue;
}
#switch:checked ~ .lblswitch:after {
  background-color: rgb(5, 5, 5);
  left: 28px;
}

.info {
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  max-height: 0;
}

.info:not(.hidden) {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

body.night-mode #title {
  color: white;
}

body.night-mode .container {
  background-color: black;
  color: white;
}

.contenedor-busqueda {
  text-align: center;
}
