body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.contener {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    color: #333;
}
.search-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.search-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.search-button:hover {
    background-color: #0056b3;
}
#contenedor {
    margin-top: 20px;
}

body.day-mode {
    background-color: white;
    color: black;
  }

body.night-mode {
    background-color: #141414;
    color: #ffffff;
  }
  
  div .lblswitch{
    display: inline-block;
    width: 55px;
    height: 30px;
    background-color: black;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
  }

  div .lblswitch:after{
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  background-color: aliceblue;
  border-radius: 100px;
  transition: 0.4s;
  bottom: 0.3em;
  top: 0.3em;
  }
  
  #switch{
    display: none;
  }
  
  #switch:checked~ .lblswitch{
    background-color: aliceblue;
  
  }
  #switch:checked~.lblswitch:after {
    background-color: rgb(5, 5, 5);
    left: 28px;
  }

  .hidden {
    display: none;
}
  
.usuario {
            width: 19%;
            margin: 1%;
            display: inline-block;
            vertical-align: top;
            border: 1px solid #ccc;
            padding: 10px;
            box-sizing: border-box;
        }

.info {
    display: none;
}

.usuario:hover .info {
    display: block;
}